<!DOCTYPE html>
<html>
<head>
	<title>Just Add 1</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="assets/style.css">
</head>
<body>
	<div class="container-fluid">
		<div class="img-container">
			<a href="#">
				<img class="app-icon" src="assets/app-icon.png">
			</a>
			<br>
			<a class="app-title" href="#">Just Add 1</a>
		</div>
	</div>
	<div class="footer">
		<a href="privacy">Privacy</a>
		<span> | </span>
		<a href="leaderboard">Leaderboard</a>
		<span> | </span>
		<a href="contact">Contact</a>
	</div>
</body>
</html>